@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

@theme {
  --breakpoint-xss: '310px';
  --breakpoint-xs: '450px';
  --breakpoint-3xl: '1600px';
  --color-dark-blue: #101A27;
  --color-light-pink: #F43098;
  --color-light-blue: #444c9b;
}

body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  background-color: white !important;
}


/* Universal scrollbar style */
* {
  scrollbar-width: thin;
  scrollbar-color:"rgba(255, 255, 255, 0.1)" transparent;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #101A27;
  border-radius: 8px;
}